<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gdapp.atividade27">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyBroadCast01">
            <intent-filter android:priority="3">
                <action android:name="com.gdapp.BC"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadCast02">
            <intent-filter android:priority="2">
                <action android:name="com.gdapp.BC"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MybroadCast03">
            <intent-filter android:priority="1">
                <action android:name="com.gdapp.BC"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>